.banner{
    width: 335px;
    padding-right: 15px;
}
body{
    background-color:rgb(254, 237, 237);
    overflow: hidden;
    

}
.search-bar{
    border-radius: 60px;
    width: 280px;
    height: 37px;
    border: solid;
    background-color: #212125;
    font-size: 15px;
    
}

#container{
    background-color: #000000;
    display: inline-block;
    padding-left: px;
    padding-bottom: 3%;
    overflow-y: hidden;
    
}
.options{
    display: flex;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.item{
    text-align: center;
}
.icon{
    width: 55px;
    border-radius: 14px;
}

p{
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

.upper-div{
    
    display: flex;
    justify-content: center;
    background-color:white;
    padding-bottom: 50px;
    padding-top: 40px;
}


.main-cards{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 8px 5px;
    scrollbar-width: none;
}

.main-cards:{
    display: none;
}

.card{
    min-width: 40%;
    background:black;
    border-radius: 30px;
    padding: 3px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #3d3f47;
}

.card img{
    width: 32px;
    height: 32px;
    border-radius: 20px;
    padding-left: 5px;
}

.title{
    color: #ffffff;
    font-size: 13px;
    margin: 0;
    display: inline-block;
    
}

.subtitle{
    color: #6ebaff;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    display: inline-block;

}
.heading{
color:white;
font-size: 22px;
padding-left: 10px;
font-family: candara;
padding-bottom: 5px;
}

.people-section{
    display: flex;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
    
}

.people-icon{
    width: 55px;
    border-radius: 50px;
}



.bill-section{
    display: flex;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
}

.bill-icon{
    width: 50px;
    border-radius: 50px;
}

.bottom-nav{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    position: fixed;
    background-color:#1e1f21;
    padding-right: 5.5%;
    padding-bottom: 3%;
}

.bootom-icon{
    padding-top: 20px;
    padding-left: 34px;
}

.bottom-text {
    padding-left: 33px;
    font-size: 14px;
}

.bottom-text-2{
    padding-left:39px ;
    font-size: 14px;
}